@model IEnumerable<User>
@{
    ViewData["Title"] = "Пользователи";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="text-center">

    <h1 class="display-4">Список пользователей</h1>
    <br />

    <form asp-controller="Users" asp-action="Index" method="get">
        Email: <input type="text" name="userEmail" />
        <input type="submit" value="Поиск" />
    </form>
    <br />
    <p></p>

    <div class="container-fluid row font-weight-bold">
        <div class="col-3">
            ID пользователя
        </div>
        <div class="col-2">
            Имя пользователя
        </div>
        <div class="col-6 text-wrap text-truncate">
            Email пользователя
        </div>
    </div>
    <br />
    <p></p>

    @foreach (var user in Model)
    {
        <div class="container-fluid row">
            <div class="col-3">
                @user.Id
            </div>

            <div class="col-2 font-weight-bold">
                <a href="/users/@user.Id">
                    @user.Name
                </a>
            </div>

            <div class="col-6 text-wrap text-truncate">
                @user.Email
            </div>
        </div>
        <br />
        <p></p>
    }
</div>

